
          #main{
            width: 350px;
            height: 550px;
            background-color: #f6f2f2;
            margin-left: 85px;
            margin-top: 80px;
            border-radius: 20px;
            box-shadow: 5px 4px 15px #000000;
                -moz-box-shadow: 5px 4px 10px #000000;
                -webkit-box-shadow: 5px 4px 15px #0e0e0e;
        }
        #big{
            padding-left: 100px;
        }
        .child{
            display: inline-block;
            padding: 100px;
            margin-top: -100px;
            margin-left: 100px
        }

        .style1{
            opacity:0;
        }

        #greet{
            font-family: 'Alfa Slab One', cursive;

        }

        @media (min-width: 1025px) {
            .h-custom {
            height: 100vh !important;
            }
            }
            .card-registration .select-input.form-control[readonly]:not([disabled]) {
            font-size: 1rem;
            line-height: 2.15;
            padding-left: .75em;
            padding-right: .75em;
            }
            .card-registration .select-arrow {
            top: 13px;
            }
            
            .gradient-custom-2 {
            /* fallback for old browsers */
            background: #ffffff;
            
            /* Chrome 10-25, Safari 5.1-6 */
            background: -webkit-linear-gradient(to right, rgb(255, 255, 255), rgb(255, 255, 255));
            
            /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            background: linear-gradient(to right, rgb(255, 255, 255), rgb(255, 255, 255))
            }
            
            .bg-indigo {
            background-color: #000000;
            }
            @media (min-width: 992px) {
            .card-registration-2 .bg-indigo {
            border-top-right-radius: 55px;
            border-bottom-right-radius: 55px;
            }
            }
            @media (max-width: 991px) {
            .card-registration-2 .bg-indigo {
            border-bottom-left-radius: 55px;
            border-bottom-right-radius: 55px;
            }
            }

            .highlight{
                background-color: #ff9900;
                font-family: Arial, sans-serif;

            }