<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <!-- Container wrapper -->
    <div class="container-fluid">
      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        
        <!-- Navbar brand -->
        
          <!-- Left links -->
  
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            
            <!-- <a class="nav-link" href="#">Dashboard</a> -->
          </li>
          <li class="nav-item">
          </li>
          <li class="nav-item">
            <!-- <a class="nav-link" href="#">Projects</a> -->
          </li>
        </ul>
        <!-- Left links -->
      </div>
      <!-- Collapsible wrapper -->
  
      <!-- Right elements -->
      <div class="d-flex align-items-center">
        <button class="btn btn-outline-light me-3" routerLink="/dashboard" ><i class="fa-sharp fa-solid fa-house"></i></button>
       
     
  
      </div>
      <!-- Right elements -->
      
    </div>
    <!-- Container wrapper -->
  </nav>
  <!-- Navbar -->
  
<h1 style="text-align:center; color:black;" class="mt-5 mb-5"><mark class="text-light bg-dark rounded ">Transaction Details</mark></h1>
<div class="d-flex justify-content-center ">
<!-- <div class="card  mb-5 rounded" style="width: 18rem;height:18rem;"> -->
    <table class="table align-middle mb-4 mt-2 bg-dark text-light  " style="width: 18rem;height: 18rem;border-radius:10px;">
        <thead class="bg-dark text-light ">
          <tr>
            <th>Type</th>
            <th>Amount</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let t of transaction">
                <td ><div *ngIf="t.type=='debit'" class="text-danger"><i class="fa-solid fa-caret-down"></i>  {{t.type}}</div>
                    <div *ngIf="t.type=='credit'" class="text-success"><i class="fa-solid fa-caret-up"></i>  {{t.type}}</div>
                </td>
                <td class="text-warning">
                    {{t.amount}} /-
                </td>
            </tr>

        </tbody>
      </table>
  </div>
<!-- </div> -->


  <footer class="bg-dark text-center text-white mt-5">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-facebook-f"></i
        ></a>
  
        <!-- Twitter -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-twitter"></i
        ></a>
  
        <!-- Google -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-google"></i
        ></a>
  
        <!-- Instagram -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-instagram"></i
        ></a>
  
        <!-- Linkedin -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-linkedin-in"></i
        ></a>
  
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2022 Copyright:
      <a class="text-white" routerLink="/">Amigo Bank</a>
    </div>
    <!-- Copyright -->
  </footer>